@media (min-width: 1287px){
    .Stopwatch {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        height: 50%;
        font-size: 200px;
    }
    #playButton{
        background-color: #00ff15;
        width: 45%;
        height: 50px;
    }

    #pauseButton{
        background-color: #ff0000;
        width: 45%;
        height: 50px;
    }
    #resetButton {
        width: 45%;
        height: 50px;
    }
}
@media (min-height: 556px){
    .Stopwatch {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;
        height: 50%;
        font-size: 200px;
    }
    #playButton{
        background-color: #00ff15;
        width: 45%;
        height: 50px;
    }

    #pauseButton{
        background-color: #ff0000;
        width: 45%;
        height: 50px;
    }
    #resetButton {
        width: 45%;
        height: 50px;
    }
}
@media (max-width: 1287px){
    .Stopwatch {
        margin-left: 200px;
        margin-right: auto;
        margin-top: 3%;
        margin-bottom: auto;
        width: 50%;
        height: 50%;
        font-size: 167px;
        text-align: center;
    }
    #playButton{
        background-color: #00ff15;
        width: 45%;
        height: 50px;
    }

    #pauseButton{
        background-color: #ff0000;
        width: 45%;
        height: 50px;
    }
    #resetButton {
        width: 45%;
        height: 50px;
    }
}
@media (max-height: 556px){
    .Stopwatch {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
        margin-bottom: auto;
        width: 50%;
        height: 50%;
        font-size: 100px;
    }
    #playButton{
        background-color: #00ff15;
        width: 45%;
        height: 50px;
    }

    #pauseButton{
        background-color: #ff0000;
        width: 45%;
        height: 50px;
    }
    #resetButton {
        width: 45%;
        height: 50px;
    }
}

    h1,h2{
        text-align: center;
    }
    body{
        text-align: center;
    }
    #aboutMe{
        text-align: center;
        color: blue;
      }